.main {
  text-align: center;
  width: 80%;
  /* padding: 40px; */
  margin: auto;
  /* background-color: antiquewhite; */
  /* text-align: justify; */
  /* min-height: 100vh; */
  /* font-size: small; */
}
